.content
  .content__right
    .content__right__top
      = link_to post.title, post_path(post.id), class: 'content__right__top__title'
    .content__right__bottom
      .content__right__bottom__userName
        = link_to post.user.nickname, user_path(post.user), class: "content__right__bottom__userName__btn"
      .content__right__bottom__date
        = post.created_at

  - if user_path == request.path && current_user.favpost?(post)
    = form_for(current_user.favorites.find_by(post_id: post.id), html: { method: :delete }) do |f|
      = hidden_field_tag :post_id, post.id
      = f.submit 'ブックマーク解除', class: 'btn btn-danger'
  - else
    = form_for(current_user.favorites.build) do |f|
      = hidden_field_tag :post_id, post.id
      = f.submit 'ブックマーク登録', class: 'btn btn-primary'
