
.contents.row
  - @posts.each do |post|

    = render partial: "post", locals: { post: post, posts: @favposts} 

    - if current_user.favpost?(post)
      = form_for(current_user.favorites.find_by(post_id: post.id), html: { method: :delete }) do |f|
        = hidden_field_tag :post_id, post.id
        = f.submit 'ブックマーク解除', class: 'btn btn-danger'
    - else
      = form_for(current_user.favorites.build) do |f|
        = hidden_field_tag :post_id, post.id
        = f.submit 'ブックマーク登録', class: 'btn btn-primary'
